
@import url('./imports/_themes.css');
@import url('./imports/_sidebar.css');
@import url('./imports/_navbar.css');
@import url('./imports/_main.css');
@import url('./imports/_footer.css');
@import url('./imports/_responsive.css');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 14.5px;
    line-height: normal;
}

body {
    font-family: var(--font-family);
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.p-divider-dotted.p-divider-horizontal:before {
    border-top-style: dotted !important;
}

.p-divider-solid.p-divider-horizontal:before {
    border-top-style: solid !important;
}
/* LOGIN V1 */
.auth-container {
    display: flex;
    min-height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 1.6rem;
    background: #F4F5FA;
    position: relative;

    .form-login-container {
        width: 31rem;
        z-index: 1;

        .card-login-container {
            box-shadow: 0 2px 10px 0 rgb(94 86 105 / 10%);
            border-radius: .4rem;
        }
    }

    .form-register-container {
        width: 45rem;
        z-index: 1;

        .card-register-container {
            box-shadow: 0 2px 10px 0 rgb(94 86 105 / 10%);
            border-radius: .4rem;
        }
    }
}


/* FORMULARIOS */
/* INPUT TEXT PLACEHOLDER COLOR ERROR */
.p-inputtext.input-error::placeholder {
    color: #e24c4c;
}

/* INPUT TEXT OUTLINED COLOR ERROR */
.p-inputtext:enabled:focus.p-invalid {
    box-shadow: 0 0 0 0.2rem #faa6a6;
}

/* INPUT TEXT ICON COLOR ERROR */
.p-input-icon-right > i:last-of-type.input-icon-error {
    color: #e24c4c;
}

/* INPUT PASSWORD OUTLINED COLOR ERROR */
.p-password.p-component.p-invalid.input-error > .p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.2rem #faa6a6;
}

/* INPUT PASSWORD PLACEHOLDER COLOR ERROR */
.p-password.p-invalid.p-component > .p-inputtext::placeholder {
    color: #e24c4c;
}

/* INPUT PASSWORD ICON IZQUIERDA COLOR ERROR */
.p-input-icon-left > i:first-of-type.input-icon-error {
    color: #e24c4c;
}
/* INPUT PASSWORD ICON DERECHA COLOR ERROR */
.p-password.p-component.p-invalid.p-input-icon-right > i {
    color: #e24c4c;
}

/* MULTISELECT PLACEHOLDER COLOR ERROR */
.p-multiselect.p-invalid .p-multiselect-label-container>.p-multiselect-label.p-placeholder {
    color: #e24c4c;
}

/* MULTISELECT ICON COLOR ERROR */
.p-multiselect.p-invalid .p-multiselect-trigger>.p-multiselect-trigger-icon {
    color: #e24c4c;
}

/* CHECKBOX COLOR ERROR */
.error-checkbox-datatable .p-checkbox .p-checkbox-box {
    border: 2px solid #e24c4c;
}

/* INPUT PASSWORD ICON SPACING WITH Z-INDEX */
.p-password .p-inputtext.p-component {
    padding-left: 2rem;
}

/* INPUT PASSWORD SOBREPONER ICON */
.p-input-icon-left.p-input-icon-left-password > i {
    z-index: 1;
}

/* INPUTS CURSOR POINTER IN ICONS */
.p-input-icon-right > svg:last-of-type {
    cursor: pointer;
}

/* INPUT CHECKBOX SPACING */
.field-checkbox,
.field-radiobutton {
    margin-bottom: 0;
}
/* FIN FORMULARIOS */

/* INPUT NUMBER ERRORS */
.p-inputnumber.input-error .p-inputtext.p-component:enabled:focus {
    box-shadow: 0 0 0 0.2rem #faa6a6;
}

/* CONFIGURACIÓN PARA EL SCALE DEL COMPONENTE */
.configuration .config-scale {
    display: flex;
    align-items: center;

    .scale-component-i {
        padding: 0rem .2rem;
        margin: 0;
        font-size: .75rem;
        color: var(--text-color-secondary);

        &.scale-active {
            font-size: 1rem;
            color: var(--primary-color);
        }
    }
}